## SQLAlchemy

#### Import API

In [40]:
from sqlalchemy import create_engine

#### Connect to DB

In [41]:
engine = create_engine('sqlite:///heroes.db')
connection = engine.connect()

#### Query Data

In [42]:
query = 'SELECT * FROM heroes'

In [43]:
results = connection.execute(query)

In [44]:
results.fetchall()

[(1, 'Crareek'),
 (2, 'Tan'),
 (3, 'Huzzt'),
 (4, 'Pamble'),
 (5, 'Grimm'),
 (6, 'Jarboyd'),
 (7, 'Cyne'),
 (8, 'Wendner'),
 (9, 'Morbid'),
 (10, 'Grrdy'),
 (11, 'Nirty'),
 (12, 'Hillstomp'),
 (13, 'Frost'),
 (14, 'Massive'),
 (15, 'Greez'),
 (16, 'Mulberry'),
 (17, 'Drogfisher'),
 (18, 'Mako'),
 (19, 'Jade'),
 (20, 'Ansmoke'),
 (21, 'Tarys'),
 (22, 'Mitanic'),
 (23, 'Oracle'),
 (24, 'Swift'),
 (25, 'Dull'),
 (26, 'Gomezoo'),
 (27, 'Bonelegs'),
 (28, 'Perabiel'),
 (29, 'Marzuzu'),
 (30, 'Dratic'),
 (31, 'Harms'),
 (32, 'Pierceslight'),
 (33, 'Tustink'),
 (34, 'Uriel'),
 (35, 'Moptop'),
 (36, 'Dexir'),
 (37, 'Stinkharper'),
 (38, 'Crane'),
 (39, 'Silver'),
 (40, 'Metal'),
 (41, 'Pontihill'),
 (42, 'Cinder'),
 (43, 'Hudigo'),
 (44, 'James'),
 (45, 'Turir'),
 (46, 'Silverra'),
 (47, 'Raindon'),
 (48, 'Tyrant'),
 (49, 'Zoq'),
 (50, 'Lolliray'),
 (51, 'Leexie'),
 (52, 'Thunder'),
 (53, 'Star'),
 (54, 'Kenbow'),
 (55, 'Harribas'),
 (56, 'Cookerry'),
 (57, 'Meta'),
 (58, 'Femien'),
 (59, 'Wright'),
 (60, 'Skylly'),
 (61, 'Dayshimmer'),
 (62, 'Grindywatson'),
 (63, 'Shockclaw'),
 (64, 'Fanglson'),
 (65, 'Kellyclop'),
 (66, 'Raine'),
 (67, 'Kiki'),
 (68, 'Shadowend'),
 (69, 'Crystal'),
 (70, 'Pador'),
 (71, 'Cookie'),
 (72, 'Slicer'),
 (73, 'Viserwart'),
 (74, 'Dyden'),
 (75, 'Netor'),
 (76, 'Betrayry'),
 (77, 'Thistle'),
 (78, 'Zunabar'),
 (79, 'Gombo'),
 (80, 'Deaddaniels'),
 (81, 'HellvisWebbrek'),
 (82, 'Henrycruncher'),
 (83, 'Ufor'),
 (84, 'Marell'),
 (85, 'Gnodez'),
 (86, 'Skyhall'),
 (87, 'Frostbite'),
 (88, 'Whiten'),
 (89, 'Dracrcia'),
 (90, 'Karla'),
 (91, 'Nighish'),
 (92, 'Sabon'),
 (93, 'Snaglak'),
 (94, 'Hoodah'),
 (95, 'Zulkis'),
 (96, 'Nek'),
 (97, 'Mooreverse'),
 (98, 'Rogo'),
 (99, 'Azcox'),
 (100, 'Grindyllen'),
 (101, 'Spirit'),
 (102, 'Orpop'),
 (103, 'Lath'),
 (104, 'Abby'),
 (105, 'Acktosh'),
 (106, 'Stewartkor'),
 (107, 'Shhes'),
 (108, 'Webbrek'),
 (109, 'Chuz'),
 (110, 'Torrela'),
 (111, 'Total'),
 (112, 'Iron'),
 (113, 'Mystic'),
 (114, 'Gott'),
 (115, 'Scarlet'),
 (116, 'Brooksheart'),
 (117, 'Hernandecheek'),
 (118, 'Gnompson'),
 (119, 'Hawkinswimmer'),
 (120, 'Fisherwolf'),
 (121, 'Mashark'),
 (122, 'Onorray')]

#### Describing a DB with Metadata

In [45]:
from sqlalchemy import *

In [46]:
metadata = MetaData()

In [47]:
heroes_table = Table('heroes', metadata, 
                    Column('hero_id', Integer, nullable=False, primary_key=True),
                    Column('name', String(20), nullable=False, unique=True),
                    )

In [48]:
from sqlalchemy.sql import select

In [49]:
query = select([heroes_table]) # same as select * from table

In [50]:
results = connection.execute(query)

In [51]:
results.fetchall()

[(1, 'Crareek'),
 (2, 'Tan'),
 (3, 'Huzzt'),
 (4, 'Pamble'),
 (5, 'Grimm'),
 (6, 'Jarboyd'),
 (7, 'Cyne'),
 (8, 'Wendner'),
 (9, 'Morbid'),
 (10, 'Grrdy'),
 (11, 'Nirty'),
 (12, 'Hillstomp'),
 (13, 'Frost'),
 (14, 'Massive'),
 (15, 'Greez'),
 (16, 'Mulberry'),
 (17, 'Drogfisher'),
 (18, 'Mako'),
 (19, 'Jade'),
 (20, 'Ansmoke'),
 (21, 'Tarys'),
 (22, 'Mitanic'),
 (23, 'Oracle'),
 (24, 'Swift'),
 (25, 'Dull'),
 (26, 'Gomezoo'),
 (27, 'Bonelegs'),
 (28, 'Perabiel'),
 (29, 'Marzuzu'),
 (30, 'Dratic'),
 (31, 'Harms'),
 (32, 'Pierceslight'),
 (33, 'Tustink'),
 (34, 'Uriel'),
 (35, 'Moptop'),
 (36, 'Dexir'),
 (37, 'Stinkharper'),
 (38, 'Crane'),
 (39, 'Silver'),
 (40, 'Metal'),
 (41, 'Pontihill'),
 (42, 'Cinder'),
 (43, 'Hudigo'),
 (44, 'James'),
 (45, 'Turir'),
 (46, 'Silverra'),
 (47, 'Raindon'),
 (48, 'Tyrant'),
 (49, 'Zoq'),
 (50, 'Lolliray'),
 (51, 'Leexie'),
 (52, 'Thunder'),
 (53, 'Star'),
 (54, 'Kenbow'),
 (55, 'Harribas'),
 (56, 'Cookerry'),
 (57, 'Meta'),
 (58, 'Femien'),
 (59, 'Wright'),
 (60, 'Skylly'),
 (61, 'Dayshimmer'),
 (62, 'Grindywatson'),
 (63, 'Shockclaw'),
 (64, 'Fanglson'),
 (65, 'Kellyclop'),
 (66, 'Raine'),
 (67, 'Kiki'),
 (68, 'Shadowend'),
 (69, 'Crystal'),
 (70, 'Pador'),
 (71, 'Cookie'),
 (72, 'Slicer'),
 (73, 'Viserwart'),
 (74, 'Dyden'),
 (75, 'Netor'),
 (76, 'Betrayry'),
 (77, 'Thistle'),
 (78, 'Zunabar'),
 (79, 'Gombo'),
 (80, 'Deaddaniels'),
 (81, 'HellvisWebbrek'),
 (82, 'Henrycruncher'),
 (83, 'Ufor'),
 (84, 'Marell'),
 (85, 'Gnodez'),
 (86, 'Skyhall'),
 (87, 'Frostbite'),
 (88, 'Whiten'),
 (89, 'Dracrcia'),
 (90, 'Karla'),
 (91, 'Nighish'),
 (92, 'Sabon'),
 (93, 'Snaglak'),
 (94, 'Hoodah'),
 (95, 'Zulkis'),
 (96, 'Nek'),
 (97, 'Mooreverse'),
 (98, 'Rogo'),
 (99, 'Azcox'),
 (100, 'Grindyllen'),
 (101, 'Spirit'),
 (102, 'Orpop'),
 (103, 'Lath'),
 (104, 'Abby'),
 (105, 'Acktosh'),
 (106, 'Stewartkor'),
 (107, 'Shhes'),
 (108, 'Webbrek'),
 (109, 'Chuz'),
 (110, 'Torrela'),
 (111, 'Total'),
 (112, 'Iron'),
 (113, 'Mystic'),
 (114, 'Gott'),
 (115, 'Scarlet'),
 (116, 'Brooksheart'),
 (117, 'Hernandecheek'),
 (118, 'Gnompson'),
 (119, 'Hawkinswimmer'),
 (120, 'Fisherwolf'),
 (121, 'Mashark'),
 (122, 'Onorray')]

#### Querying DB Records

In [52]:
heroes_table.columns.hero_id

Column('hero_id', Integer(), table=<heroes>, primary_key=True, nullable=False)

In [53]:
heroes_table.c.hero_id

Column('hero_id', Integer(), table=<heroes>, primary_key=True, nullable=False)

In [54]:
6 > 5

True

In [55]:
print(heroes_table.columns.hero_id > 5)

heroes.hero_id > :hero_id_1

In [56]:
expression = heroes_table.columns.hero_id > 5

In [57]:
print(expression)

heroes.hero_id > :hero_id_1

In [58]:
expression.compile().params # prints a dict

{'hero_id_1': 5}

#### Fundamentals of Querying

In [59]:
query = select([heroes_table])
results = connection.execute(query)
results.fetchall()

[(1, 'Crareek'),
 (2, 'Tan'),
 (3, 'Huzzt'),
 (4, 'Pamble'),
 (5, 'Grimm'),
 (6, 'Jarboyd'),
 (7, 'Cyne'),
 (8, 'Wendner'),
 (9, 'Morbid'),
 (10, 'Grrdy'),
 (11, 'Nirty'),
 (12, 'Hillstomp'),
 (13, 'Frost'),
 (14, 'Massive'),
 (15, 'Greez'),
 (16, 'Mulberry'),
 (17, 'Drogfisher'),
 (18, 'Mako'),
 (19, 'Jade'),
 (20, 'Ansmoke'),
 (21, 'Tarys'),
 (22, 'Mitanic'),
 (23, 'Oracle'),
 (24, 'Swift'),
 (25, 'Dull'),
 (26, 'Gomezoo'),
 (27, 'Bonelegs'),
 (28, 'Perabiel'),
 (29, 'Marzuzu'),
 (30, 'Dratic'),
 (31, 'Harms'),
 (32, 'Pierceslight'),
 (33, 'Tustink'),
 (34, 'Uriel'),
 (35, 'Moptop'),
 (36, 'Dexir'),
 (37, 'Stinkharper'),
 (38, 'Crane'),
 (39, 'Silver'),
 (40, 'Metal'),
 (41, 'Pontihill'),
 (42, 'Cinder'),
 (43, 'Hudigo'),
 (44, 'James'),
 (45, 'Turir'),
 (46, 'Silverra'),
 (47, 'Raindon'),
 (48, 'Tyrant'),
 (49, 'Zoq'),
 (50, 'Lolliray'),
 (51, 'Leexie'),
 (52, 'Thunder'),
 (53, 'Star'),
 (54, 'Kenbow'),
 (55, 'Harribas'),
 (56, 'Cookerry'),
 (57, 'Meta'),
 (58, 'Femien'),
 (59, 'Wright'),
 (60, 'Skylly'),
 (61, 'Dayshimmer'),
 (62, 'Grindywatson'),
 (63, 'Shockclaw'),
 (64, 'Fanglson'),
 (65, 'Kellyclop'),
 (66, 'Raine'),
 (67, 'Kiki'),
 (68, 'Shadowend'),
 (69, 'Crystal'),
 (70, 'Pador'),
 (71, 'Cookie'),
 (72, 'Slicer'),
 (73, 'Viserwart'),
 (74, 'Dyden'),
 (75, 'Netor'),
 (76, 'Betrayry'),
 (77, 'Thistle'),
 (78, 'Zunabar'),
 (79, 'Gombo'),
 (80, 'Deaddaniels'),
 (81, 'HellvisWebbrek'),
 (82, 'Henrycruncher'),
 (83, 'Ufor'),
 (84, 'Marell'),
 (85, 'Gnodez'),
 (86, 'Skyhall'),
 (87, 'Frostbite'),
 (88, 'Whiten'),
 (89, 'Dracrcia'),
 (90, 'Karla'),
 (91, 'Nighish'),
 (92, 'Sabon'),
 (93, 'Snaglak'),
 (94, 'Hoodah'),
 (95, 'Zulkis'),
 (96, 'Nek'),
 (97, 'Mooreverse'),
 (98, 'Rogo'),
 (99, 'Azcox'),
 (100, 'Grindyllen'),
 (101, 'Spirit'),
 (102, 'Orpop'),
 (103, 'Lath'),
 (104, 'Abby'),
 (105, 'Acktosh'),
 (106, 'Stewartkor'),
 (107, 'Shhes'),
 (108, 'Webbrek'),
 (109, 'Chuz'),
 (110, 'Torrela'),
 (111, 'Total'),
 (112, 'Iron'),
 (113, 'Mystic'),
 (114, 'Gott'),
 (115, 'Scarlet'),
 (116, 'Brooksheart'),
 (117, 'Hernandecheek'),
 (118, 'Gnompson'),
 (119, 'Hawkinswimmer'),
 (120, 'Fisherwolf'),
 (121, 'Mashark'),
 (122, 'Onorray')]

In [60]:
query = select([heroes_table.columns.name]) # querying just column names
results = connection.execute(query)
results.fetchall()

[('Crareek',),
 ('Tan',),
 ('Huzzt',),
 ('Pamble',),
 ('Grimm',),
 ('Jarboyd',),
 ('Cyne',),
 ('Wendner',),
 ('Morbid',),
 ('Grrdy',),
 ('Nirty',),
 ('Hillstomp',),
 ('Frost',),
 ('Massive',),
 ('Greez',),
 ('Mulberry',),
 ('Drogfisher',),
 ('Mako',),
 ('Jade',),
 ('Ansmoke',),
 ('Tarys',),
 ('Mitanic',),
 ('Oracle',),
 ('Swift',),
 ('Dull',),
 ('Gomezoo',),
 ('Bonelegs',),
 ('Perabiel',),
 ('Marzuzu',),
 ('Dratic',),
 ('Harms',),
 ('Pierceslight',),
 ('Tustink',),
 ('Uriel',),
 ('Moptop',),
 ('Dexir',),
 ('Stinkharper',),
 ('Crane',),
 ('Silver',),
 ('Metal',),
 ('Pontihill',),
 ('Cinder',),
 ('Hudigo',),
 ('James',),
 ('Turir',),
 ('Silverra',),
 ('Raindon',),
 ('Tyrant',),
 ('Zoq',),
 ('Lolliray',),
 ('Leexie',),
 ('Thunder',),
 ('Star',),
 ('Kenbow',),
 ('Harribas',),
 ('Cookerry',),
 ('Meta',),
 ('Femien',),
 ('Wright',),
 ('Skylly',),
 ('Dayshimmer',),
 ('Grindywatson',),
 ('Shockclaw',),
 ('Fanglson',),
 ('Kellyclop',),
 ('Raine',),
 ('Kiki',),
 ('Shadowend',),
 ('Crystal',),
 ('Pador',),
 ('Cookie',),
 ('Slicer',),
 ('Viserwart',),
 ('Dyden',),
 ('Netor',),
 ('Betrayry',),
 ('Thistle',),
 ('Zunabar',),
 ('Gombo',),
 ('Deaddaniels',),
 ('HellvisWebbrek',),
 ('Henrycruncher',),
 ('Ufor',),
 ('Marell',),
 ('Gnodez',),
 ('Skyhall',),
 ('Frostbite',),
 ('Whiten',),
 ('Dracrcia',),
 ('Karla',),
 ('Nighish',),
 ('Sabon',),
 ('Snaglak',),
 ('Hoodah',),
 ('Zulkis',),
 ('Nek',),
 ('Mooreverse',),
 ('Rogo',),
 ('Azcox',),
 ('Grindyllen',),
 ('Spirit',),
 ('Orpop',),
 ('Lath',),
 ('Abby',),
 ('Acktosh',),
 ('Stewartkor',),
 ('Shhes',),
 ('Webbrek',),
 ('Chuz',),
 ('Torrela',),
 ('Total',),
 ('Iron',),
 ('Mystic',),
 ('Gott',),
 ('Scarlet',),
 ('Brooksheart',),
 ('Hernandecheek',),
 ('Gnompson',),
 ('Hawkinswimmer',),
 ('Fisherwolf',),
 ('Mashark',),
 ('Onorray',)]

In [61]:
query = select([heroes_table]).limit(5) # limit recs
results = connection.execute(query)
results.fetchall()

[(1, 'Crareek'), (2, 'Tan'), (3, 'Huzzt'), (4, 'Pamble'), (5, 'Grimm')]

In [62]:
query = select([heroes_table]).offset(5) # starts at index 6
results = connection.execute(query)
results.fetchall()

[(6, 'Jarboyd'),
 (7, 'Cyne'),
 (8, 'Wendner'),
 (9, 'Morbid'),
 (10, 'Grrdy'),
 (11, 'Nirty'),
 (12, 'Hillstomp'),
 (13, 'Frost'),
 (14, 'Massive'),
 (15, 'Greez'),
 (16, 'Mulberry'),
 (17, 'Drogfisher'),
 (18, 'Mako'),
 (19, 'Jade'),
 (20, 'Ansmoke'),
 (21, 'Tarys'),
 (22, 'Mitanic'),
 (23, 'Oracle'),
 (24, 'Swift'),
 (25, 'Dull'),
 (26, 'Gomezoo'),
 (27, 'Bonelegs'),
 (28, 'Perabiel'),
 (29, 'Marzuzu'),
 (30, 'Dratic'),
 (31, 'Harms'),
 (32, 'Pierceslight'),
 (33, 'Tustink'),
 (34, 'Uriel'),
 (35, 'Moptop'),
 (36, 'Dexir'),
 (37, 'Stinkharper'),
 (38, 'Crane'),
 (39, 'Silver'),
 (40, 'Metal'),
 (41, 'Pontihill'),
 (42, 'Cinder'),
 (43, 'Hudigo'),
 (44, 'James'),
 (45, 'Turir'),
 (46, 'Silverra'),
 (47, 'Raindon'),
 (48, 'Tyrant'),
 (49, 'Zoq'),
 (50, 'Lolliray'),
 (51, 'Leexie'),
 (52, 'Thunder'),
 (53, 'Star'),
 (54, 'Kenbow'),
 (55, 'Harribas'),
 (56, 'Cookerry'),
 (57, 'Meta'),
 (58, 'Femien'),
 (59, 'Wright'),
 (60, 'Skylly'),
 (61, 'Dayshimmer'),
 (62, 'Grindywatson'),
 (63, 'Shockclaw'),
 (64, 'Fanglson'),
 (65, 'Kellyclop'),
 (66, 'Raine'),
 (67, 'Kiki'),
 (68, 'Shadowend'),
 (69, 'Crystal'),
 (70, 'Pador'),
 (71, 'Cookie'),
 (72, 'Slicer'),
 (73, 'Viserwart'),
 (74, 'Dyden'),
 (75, 'Netor'),
 (76, 'Betrayry'),
 (77, 'Thistle'),
 (78, 'Zunabar'),
 (79, 'Gombo'),
 (80, 'Deaddaniels'),
 (81, 'HellvisWebbrek'),
 (82, 'Henrycruncher'),
 (83, 'Ufor'),
 (84, 'Marell'),
 (85, 'Gnodez'),
 (86, 'Skyhall'),
 (87, 'Frostbite'),
 (88, 'Whiten'),
 (89, 'Dracrcia'),
 (90, 'Karla'),
 (91, 'Nighish'),
 (92, 'Sabon'),
 (93, 'Snaglak'),
 (94, 'Hoodah'),
 (95, 'Zulkis'),
 (96, 'Nek'),
 (97, 'Mooreverse'),
 (98, 'Rogo'),
 (99, 'Azcox'),
 (100, 'Grindyllen'),
 (101, 'Spirit'),
 (102, 'Orpop'),
 (103, 'Lath'),
 (104, 'Abby'),
 (105, 'Acktosh'),
 (106, 'Stewartkor'),
 (107, 'Shhes'),
 (108, 'Webbrek'),
 (109, 'Chuz'),
 (110, 'Torrela'),
 (111, 'Total'),
 (112, 'Iron'),
 (113, 'Mystic'),
 (114, 'Gott'),
 (115, 'Scarlet'),
 (116, 'Brooksheart'),
 (117, 'Hernandecheek'),
 (118, 'Gnompson'),
 (119, 'Hawkinswimmer'),
 (120, 'Fisherwolf'),
 (121, 'Mashark'),
 (122, 'Onorray')]

In [63]:
query = select([heroes_table]).order_by(heroes_table.columns.name) # order by
results = connection.execute(query)
results.fetchall()

[(104, 'Abby'),
 (105, 'Acktosh'),
 (20, 'Ansmoke'),
 (99, 'Azcox'),
 (76, 'Betrayry'),
 (27, 'Bonelegs'),
 (116, 'Brooksheart'),
 (109, 'Chuz'),
 (42, 'Cinder'),
 (56, 'Cookerry'),
 (71, 'Cookie'),
 (38, 'Crane'),
 (1, 'Crareek'),
 (69, 'Crystal'),
 (7, 'Cyne'),
 (61, 'Dayshimmer'),
 (80, 'Deaddaniels'),
 (36, 'Dexir'),
 (89, 'Dracrcia'),
 (30, 'Dratic'),
 (17, 'Drogfisher'),
 (25, 'Dull'),
 (74, 'Dyden'),
 (64, 'Fanglson'),
 (58, 'Femien'),
 (120, 'Fisherwolf'),
 (13, 'Frost'),
 (87, 'Frostbite'),
 (85, 'Gnodez'),
 (118, 'Gnompson'),
 (79, 'Gombo'),
 (26, 'Gomezoo'),
 (114, 'Gott'),
 (15, 'Greez'),
 (5, 'Grimm'),
 (100, 'Grindyllen'),
 (62, 'Grindywatson'),
 (10, 'Grrdy'),
 (31, 'Harms'),
 (55, 'Harribas'),
 (119, 'Hawkinswimmer'),
 (81, 'HellvisWebbrek'),
 (82, 'Henrycruncher'),
 (117, 'Hernandecheek'),
 (12, 'Hillstomp'),
 (94, 'Hoodah'),
 (43, 'Hudigo'),
 (3, 'Huzzt'),
 (112, 'Iron'),
 (19, 'Jade'),
 (44, 'James'),
 (6, 'Jarboyd'),
 (90, 'Karla'),
 (65, 'Kellyclop'),
 (54, 'Kenbow'),
 (67, 'Kiki'),
 (103, 'Lath'),
 (51, 'Leexie'),
 (50, 'Lolliray'),
 (18, 'Mako'),
 (84, 'Marell'),
 (29, 'Marzuzu'),
 (121, 'Mashark'),
 (14, 'Massive'),
 (57, 'Meta'),
 (40, 'Metal'),
 (22, 'Mitanic'),
 (97, 'Mooreverse'),
 (35, 'Moptop'),
 (9, 'Morbid'),
 (16, 'Mulberry'),
 (113, 'Mystic'),
 (96, 'Nek'),
 (75, 'Netor'),
 (91, 'Nighish'),
 (11, 'Nirty'),
 (122, 'Onorray'),
 (23, 'Oracle'),
 (102, 'Orpop'),
 (70, 'Pador'),
 (4, 'Pamble'),
 (28, 'Perabiel'),
 (32, 'Pierceslight'),
 (41, 'Pontihill'),
 (47, 'Raindon'),
 (66, 'Raine'),
 (98, 'Rogo'),
 (92, 'Sabon'),
 (115, 'Scarlet'),
 (68, 'Shadowend'),
 (107, 'Shhes'),
 (63, 'Shockclaw'),
 (39, 'Silver'),
 (46, 'Silverra'),
 (86, 'Skyhall'),
 (60, 'Skylly'),
 (72, 'Slicer'),
 (93, 'Snaglak'),
 (101, 'Spirit'),
 (53, 'Star'),
 (106, 'Stewartkor'),
 (37, 'Stinkharper'),
 (24, 'Swift'),
 (2, 'Tan'),
 (21, 'Tarys'),
 (77, 'Thistle'),
 (52, 'Thunder'),
 (110, 'Torrela'),
 (111, 'Total'),
 (45, 'Turir'),
 (33, 'Tustink'),
 (48, 'Tyrant'),
 (83, 'Ufor'),
 (34, 'Uriel'),
 (73, 'Viserwart'),
 (108, 'Webbrek'),
 (8, 'Wendner'),
 (88, 'Whiten'),
 (59, 'Wright'),
 (49, 'Zoq'),
 (95, 'Zulkis'),
 (78, 'Zunabar')]

In [64]:
query = select([heroes_table]).order_by(heroes_table.columns.name.desc()) # order by desc
results = connection.execute(query)
results.fetchall()

[(78, 'Zunabar'),
 (95, 'Zulkis'),
 (49, 'Zoq'),
 (59, 'Wright'),
 (88, 'Whiten'),
 (8, 'Wendner'),
 (108, 'Webbrek'),
 (73, 'Viserwart'),
 (34, 'Uriel'),
 (83, 'Ufor'),
 (48, 'Tyrant'),
 (33, 'Tustink'),
 (45, 'Turir'),
 (111, 'Total'),
 (110, 'Torrela'),
 (52, 'Thunder'),
 (77, 'Thistle'),
 (21, 'Tarys'),
 (2, 'Tan'),
 (24, 'Swift'),
 (37, 'Stinkharper'),
 (106, 'Stewartkor'),
 (53, 'Star'),
 (101, 'Spirit'),
 (93, 'Snaglak'),
 (72, 'Slicer'),
 (60, 'Skylly'),
 (86, 'Skyhall'),
 (46, 'Silverra'),
 (39, 'Silver'),
 (63, 'Shockclaw'),
 (107, 'Shhes'),
 (68, 'Shadowend'),
 (115, 'Scarlet'),
 (92, 'Sabon'),
 (98, 'Rogo'),
 (66, 'Raine'),
 (47, 'Raindon'),
 (41, 'Pontihill'),
 (32, 'Pierceslight'),
 (28, 'Perabiel'),
 (4, 'Pamble'),
 (70, 'Pador'),
 (102, 'Orpop'),
 (23, 'Oracle'),
 (122, 'Onorray'),
 (11, 'Nirty'),
 (91, 'Nighish'),
 (75, 'Netor'),
 (96, 'Nek'),
 (113, 'Mystic'),
 (16, 'Mulberry'),
 (9, 'Morbid'),
 (35, 'Moptop'),
 (97, 'Mooreverse'),
 (22, 'Mitanic'),
 (40, 'Metal'),
 (57, 'Meta'),
 (14, 'Massive'),
 (121, 'Mashark'),
 (29, 'Marzuzu'),
 (84, 'Marell'),
 (18, 'Mako'),
 (50, 'Lolliray'),
 (51, 'Leexie'),
 (103, 'Lath'),
 (67, 'Kiki'),
 (54, 'Kenbow'),
 (65, 'Kellyclop'),
 (90, 'Karla'),
 (6, 'Jarboyd'),
 (44, 'James'),
 (19, 'Jade'),
 (112, 'Iron'),
 (3, 'Huzzt'),
 (43, 'Hudigo'),
 (94, 'Hoodah'),
 (12, 'Hillstomp'),
 (117, 'Hernandecheek'),
 (82, 'Henrycruncher'),
 (81, 'HellvisWebbrek'),
 (119, 'Hawkinswimmer'),
 (55, 'Harribas'),
 (31, 'Harms'),
 (10, 'Grrdy'),
 (62, 'Grindywatson'),
 (100, 'Grindyllen'),
 (5, 'Grimm'),
 (15, 'Greez'),
 (114, 'Gott'),
 (26, 'Gomezoo'),
 (79, 'Gombo'),
 (118, 'Gnompson'),
 (85, 'Gnodez'),
 (87, 'Frostbite'),
 (13, 'Frost'),
 (120, 'Fisherwolf'),
 (58, 'Femien'),
 (64, 'Fanglson'),
 (74, 'Dyden'),
 (25, 'Dull'),
 (17, 'Drogfisher'),
 (30, 'Dratic'),
 (89, 'Dracrcia'),
 (36, 'Dexir'),
 (80, 'Deaddaniels'),
 (61, 'Dayshimmer'),
 (7, 'Cyne'),
 (69, 'Crystal'),
 (1, 'Crareek'),
 (38, 'Crane'),
 (71, 'Cookie'),
 (56, 'Cookerry'),
 (42, 'Cinder'),
 (109, 'Chuz'),
 (116, 'Brooksheart'),
 (27, 'Bonelegs'),
 (76, 'Betrayry'),
 (99, 'Azcox'),
 (20, 'Ansmoke'),
 (105, 'Acktosh'),
 (104, 'Abby')]

In [65]:
query = select([heroes_table]).offset(5).limit(5).order_by(heroes_table.columns.hero_id.desc()) 
results = connection.execute(query)
results.fetchall()

[(117, 'Hernandecheek'),
 (116, 'Brooksheart'),
 (115, 'Scarlet'),
 (114, 'Gott'),
 (113, 'Mystic')]

#### Where Clause

In [66]:
query = select([heroes_table]).where(heroes_table.columns.hero_id > 5)
results = connection.execute(query)
results.fetchall()

[(6, 'Jarboyd'),
 (7, 'Cyne'),
 (8, 'Wendner'),
 (9, 'Morbid'),
 (10, 'Grrdy'),
 (11, 'Nirty'),
 (12, 'Hillstomp'),
 (13, 'Frost'),
 (14, 'Massive'),
 (15, 'Greez'),
 (16, 'Mulberry'),
 (17, 'Drogfisher'),
 (18, 'Mako'),
 (19, 'Jade'),
 (20, 'Ansmoke'),
 (21, 'Tarys'),
 (22, 'Mitanic'),
 (23, 'Oracle'),
 (24, 'Swift'),
 (25, 'Dull'),
 (26, 'Gomezoo'),
 (27, 'Bonelegs'),
 (28, 'Perabiel'),
 (29, 'Marzuzu'),
 (30, 'Dratic'),
 (31, 'Harms'),
 (32, 'Pierceslight'),
 (33, 'Tustink'),
 (34, 'Uriel'),
 (35, 'Moptop'),
 (36, 'Dexir'),
 (37, 'Stinkharper'),
 (38, 'Crane'),
 (39, 'Silver'),
 (40, 'Metal'),
 (41, 'Pontihill'),
 (42, 'Cinder'),
 (43, 'Hudigo'),
 (44, 'James'),
 (45, 'Turir'),
 (46, 'Silverra'),
 (47, 'Raindon'),
 (48, 'Tyrant'),
 (49, 'Zoq'),
 (50, 'Lolliray'),
 (51, 'Leexie'),
 (52, 'Thunder'),
 (53, 'Star'),
 (54, 'Kenbow'),
 (55, 'Harribas'),
 (56, 'Cookerry'),
 (57, 'Meta'),
 (58, 'Femien'),
 (59, 'Wright'),
 (60, 'Skylly'),
 (61, 'Dayshimmer'),
 (62, 'Grindywatson'),
 (63, 'Shockclaw'),
 (64, 'Fanglson'),
 (65, 'Kellyclop'),
 (66, 'Raine'),
 (67, 'Kiki'),
 (68, 'Shadowend'),
 (69, 'Crystal'),
 (70, 'Pador'),
 (71, 'Cookie'),
 (72, 'Slicer'),
 (73, 'Viserwart'),
 (74, 'Dyden'),
 (75, 'Netor'),
 (76, 'Betrayry'),
 (77, 'Thistle'),
 (78, 'Zunabar'),
 (79, 'Gombo'),
 (80, 'Deaddaniels'),
 (81, 'HellvisWebbrek'),
 (82, 'Henrycruncher'),
 (83, 'Ufor'),
 (84, 'Marell'),
 (85, 'Gnodez'),
 (86, 'Skyhall'),
 (87, 'Frostbite'),
 (88, 'Whiten'),
 (89, 'Dracrcia'),
 (90, 'Karla'),
 (91, 'Nighish'),
 (92, 'Sabon'),
 (93, 'Snaglak'),
 (94, 'Hoodah'),
 (95, 'Zulkis'),
 (96, 'Nek'),
 (97, 'Mooreverse'),
 (98, 'Rogo'),
 (99, 'Azcox'),
 (100, 'Grindyllen'),
 (101, 'Spirit'),
 (102, 'Orpop'),
 (103, 'Lath'),
 (104, 'Abby'),
 (105, 'Acktosh'),
 (106, 'Stewartkor'),
 (107, 'Shhes'),
 (108, 'Webbrek'),
 (109, 'Chuz'),
 (110, 'Torrela'),
 (111, 'Total'),
 (112, 'Iron'),
 (113, 'Mystic'),
 (114, 'Gott'),
 (115, 'Scarlet'),
 (116, 'Brooksheart'),
 (117, 'Hernandecheek'),
 (118, 'Gnompson'),
 (119, 'Hawkinswimmer'),
 (120, 'Fisherwolf'),
 (121, 'Mashark'),
 (122, 'Onorray')]

In [67]:
# using python's and operator
query = select([heroes_table]).where((heroes_table.columns.hero_id > 5) & (heroes_table.columns.hero_id < 10))
results = connection.execute(query)
results.fetchall()

[(6, 'Jarboyd'), (7, 'Cyne'), (8, 'Wendner'), (9, 'Morbid')]

In [68]:
# using sqlaclhemy's and_ function
query = select([heroes_table]).where(and_(heroes_table.columns.hero_id > 5, heroes_table.columns.hero_id < 10))
results = connection.execute(query)
results.fetchall()

[(6, 'Jarboyd'), (7, 'Cyne'), (8, 'Wendner'), (9, 'Morbid')]

In [69]:
# using python's OR operator
query = select([heroes_table]).where((heroes_table.columns.hero_id > 5) | (heroes_table.columns.hero_id < 10))
results = connection.execute(query)
results.fetchall()

[(6, 'Jarboyd'),
 (7, 'Cyne'),
 (8, 'Wendner'),
 (9, 'Morbid'),
 (10, 'Grrdy'),
 (11, 'Nirty'),
 (12, 'Hillstomp'),
 (13, 'Frost'),
 (14, 'Massive'),
 (15, 'Greez'),
 (16, 'Mulberry'),
 (17, 'Drogfisher'),
 (18, 'Mako'),
 (19, 'Jade'),
 (20, 'Ansmoke'),
 (21, 'Tarys'),
 (22, 'Mitanic'),
 (23, 'Oracle'),
 (24, 'Swift'),
 (25, 'Dull'),
 (26, 'Gomezoo'),
 (27, 'Bonelegs'),
 (28, 'Perabiel'),
 (29, 'Marzuzu'),
 (30, 'Dratic'),
 (31, 'Harms'),
 (32, 'Pierceslight'),
 (33, 'Tustink'),
 (34, 'Uriel'),
 (35, 'Moptop'),
 (36, 'Dexir'),
 (37, 'Stinkharper'),
 (38, 'Crane'),
 (39, 'Silver'),
 (40, 'Metal'),
 (41, 'Pontihill'),
 (42, 'Cinder'),
 (43, 'Hudigo'),
 (44, 'James'),
 (45, 'Turir'),
 (46, 'Silverra'),
 (47, 'Raindon'),
 (48, 'Tyrant'),
 (49, 'Zoq'),
 (50, 'Lolliray'),
 (51, 'Leexie'),
 (52, 'Thunder'),
 (53, 'Star'),
 (54, 'Kenbow'),
 (55, 'Harribas'),
 (56, 'Cookerry'),
 (57, 'Meta'),
 (58, 'Femien'),
 (59, 'Wright'),
 (60, 'Skylly'),
 (61, 'Dayshimmer'),
 (62, 'Grindywatson'),
 (63, 'Shockclaw'),
 (64, 'Fanglson'),
 (65, 'Kellyclop'),
 (66, 'Raine'),
 (67, 'Kiki'),
 (68, 'Shadowend'),
 (69, 'Crystal'),
 (70, 'Pador'),
 (71, 'Cookie'),
 (72, 'Slicer'),
 (73, 'Viserwart'),
 (74, 'Dyden'),
 (75, 'Netor'),
 (76, 'Betrayry'),
 (77, 'Thistle'),
 (78, 'Zunabar'),
 (79, 'Gombo'),
 (80, 'Deaddaniels'),
 (81, 'HellvisWebbrek'),
 (82, 'Henrycruncher'),
 (83, 'Ufor'),
 (84, 'Marell'),
 (85, 'Gnodez'),
 (86, 'Skyhall'),
 (87, 'Frostbite'),
 (88, 'Whiten'),
 (89, 'Dracrcia'),
 (90, 'Karla'),
 (91, 'Nighish'),
 (92, 'Sabon'),
 (93, 'Snaglak'),
 (94, 'Hoodah'),
 (95, 'Zulkis'),
 (96, 'Nek'),
 (97, 'Mooreverse'),
 (98, 'Rogo'),
 (99, 'Azcox'),
 (100, 'Grindyllen'),
 (101, 'Spirit'),
 (102, 'Orpop'),
 (103, 'Lath'),
 (104, 'Abby'),
 (105, 'Acktosh'),
 (106, 'Stewartkor'),
 (107, 'Shhes'),
 (108, 'Webbrek'),
 (109, 'Chuz'),
 (110, 'Torrela'),
 (111, 'Total'),
 (112, 'Iron'),
 (113, 'Mystic'),
 (114, 'Gott'),
 (115, 'Scarlet'),
 (116, 'Brooksheart'),
 (117, 'Hernandecheek'),
 (118, 'Gnompson'),
 (119, 'Hawkinswimmer'),
 (120, 'Fisherwolf'),
 (121, 'Mashark'),
 (122, 'Onorray'),
 (1, 'Crareek'),
 (2, 'Tan'),
 (3, 'Huzzt'),
 (4, 'Pamble'),
 (5, 'Grimm')]

In [70]:
# using sqlaclhemy's OR function
query = select([heroes_table]).where(or_(heroes_table.columns.hero_id > 5, heroes_table.columns.hero_id < 10))
results = connection.execute(query)
results.fetchall()

[(6, 'Jarboyd'),
 (7, 'Cyne'),
 (8, 'Wendner'),
 (9, 'Morbid'),
 (10, 'Grrdy'),
 (11, 'Nirty'),
 (12, 'Hillstomp'),
 (13, 'Frost'),
 (14, 'Massive'),
 (15, 'Greez'),
 (16, 'Mulberry'),
 (17, 'Drogfisher'),
 (18, 'Mako'),
 (19, 'Jade'),
 (20, 'Ansmoke'),
 (21, 'Tarys'),
 (22, 'Mitanic'),
 (23, 'Oracle'),
 (24, 'Swift'),
 (25, 'Dull'),
 (26, 'Gomezoo'),
 (27, 'Bonelegs'),
 (28, 'Perabiel'),
 (29, 'Marzuzu'),
 (30, 'Dratic'),
 (31, 'Harms'),
 (32, 'Pierceslight'),
 (33, 'Tustink'),
 (34, 'Uriel'),
 (35, 'Moptop'),
 (36, 'Dexir'),
 (37, 'Stinkharper'),
 (38, 'Crane'),
 (39, 'Silver'),
 (40, 'Metal'),
 (41, 'Pontihill'),
 (42, 'Cinder'),
 (43, 'Hudigo'),
 (44, 'James'),
 (45, 'Turir'),
 (46, 'Silverra'),
 (47, 'Raindon'),
 (48, 'Tyrant'),
 (49, 'Zoq'),
 (50, 'Lolliray'),
 (51, 'Leexie'),
 (52, 'Thunder'),
 (53, 'Star'),
 (54, 'Kenbow'),
 (55, 'Harribas'),
 (56, 'Cookerry'),
 (57, 'Meta'),
 (58, 'Femien'),
 (59, 'Wright'),
 (60, 'Skylly'),
 (61, 'Dayshimmer'),
 (62, 'Grindywatson'),
 (63, 'Shockclaw'),
 (64, 'Fanglson'),
 (65, 'Kellyclop'),
 (66, 'Raine'),
 (67, 'Kiki'),
 (68, 'Shadowend'),
 (69, 'Crystal'),
 (70, 'Pador'),
 (71, 'Cookie'),
 (72, 'Slicer'),
 (73, 'Viserwart'),
 (74, 'Dyden'),
 (75, 'Netor'),
 (76, 'Betrayry'),
 (77, 'Thistle'),
 (78, 'Zunabar'),
 (79, 'Gombo'),
 (80, 'Deaddaniels'),
 (81, 'HellvisWebbrek'),
 (82, 'Henrycruncher'),
 (83, 'Ufor'),
 (84, 'Marell'),
 (85, 'Gnodez'),
 (86, 'Skyhall'),
 (87, 'Frostbite'),
 (88, 'Whiten'),
 (89, 'Dracrcia'),
 (90, 'Karla'),
 (91, 'Nighish'),
 (92, 'Sabon'),
 (93, 'Snaglak'),
 (94, 'Hoodah'),
 (95, 'Zulkis'),
 (96, 'Nek'),
 (97, 'Mooreverse'),
 (98, 'Rogo'),
 (99, 'Azcox'),
 (100, 'Grindyllen'),
 (101, 'Spirit'),
 (102, 'Orpop'),
 (103, 'Lath'),
 (104, 'Abby'),
 (105, 'Acktosh'),
 (106, 'Stewartkor'),
 (107, 'Shhes'),
 (108, 'Webbrek'),
 (109, 'Chuz'),
 (110, 'Torrela'),
 (111, 'Total'),
 (112, 'Iron'),
 (113, 'Mystic'),
 (114, 'Gott'),
 (115, 'Scarlet'),
 (116, 'Brooksheart'),
 (117, 'Hernandecheek'),
 (118, 'Gnompson'),
 (119, 'Hawkinswimmer'),
 (120, 'Fisherwolf'),
 (121, 'Mashark'),
 (122, 'Onorray'),
 (1, 'Crareek'),
 (2, 'Tan'),
 (3, 'Huzzt'),
 (4, 'Pamble'),
 (5, 'Grimm')]

In [71]:
# using equality operator
query = select([heroes_table.columns.hero_id]).where(heroes_table.columns.name == 'Jade')
results = connection.execute(query)
results.fetchall()

[(19,)]

In [72]:
# using like operator
query = select([heroes_table.columns.name]).where(heroes_table.columns.name.like('A%'))
results = connection.execute(query)
results.fetchall()

[('Ansmoke',), ('Azcox',), ('Abby',), ('Acktosh',)]

#### Aggregating Data

In [73]:
query = select([heroes_table])
results = connection.execute(query)
for row in results:
    print(row.items())

[('hero_id', 1), ('name', 'Crareek')]
[('hero_id', 2), ('name', 'Tan')]
[('hero_id', 3), ('name', 'Huzzt')]
[('hero_id', 4), ('name', 'Pamble')]
[('hero_id', 5), ('name', 'Grimm')]
[('hero_id', 6), ('name', 'Jarboyd')]
[('hero_id', 7), ('name', 'Cyne')]
[('hero_id', 8), ('name', 'Wendner')]
[('hero_id', 9), ('name', 'Morbid')]
[('hero_id', 10), ('name', 'Grrdy')]
[('hero_id', 11), ('name', 'Nirty')]
[('hero_id', 12), ('name', 'Hillstomp')]
[('hero_id', 13), ('name', 'Frost')]
[('hero_id', 14), ('name', 'Massive')]
[('hero_id', 15), ('name', 'Greez')]
[('hero_id', 16), ('name', 'Mulberry')]
[('hero_id', 17), ('name', 'Drogfisher')]
[('hero_id', 18), ('name', 'Mako')]
[('hero_id', 19), ('name', 'Jade')]
[('hero_id', 20), ('name', 'Ansmoke')]
[('hero_id', 21), ('name', 'Tarys')]
[('hero_id', 22), ('name', 'Mitanic')]
[('hero_id', 23), ('name', 'Oracle')]
[('hero_id', 24), ('name', 'Swift')]
[('hero_id', 25), ('name', 'Dull')]
[('hero_id', 26), ('name', 'Gomezoo')]
[('hero_id', 27), ('name', 'Bonelegs')]
[('hero_id', 28), ('name', 'Perabiel')]
[('hero_id', 29), ('name', 'Marzuzu')]
[('hero_id', 30), ('name', 'Dratic')]
[('hero_id', 31), ('name', 'Harms')]
[('hero_id', 32), ('name', 'Pierceslight')]
[('hero_id', 33), ('name', 'Tustink')]
[('hero_id', 34), ('name', 'Uriel')]
[('hero_id', 35), ('name', 'Moptop')]
[('hero_id', 36), ('name', 'Dexir')]
[('hero_id', 37), ('name', 'Stinkharper')]
[('hero_id', 38), ('name', 'Crane')]
[('hero_id', 39), ('name', 'Silver')]
[('hero_id', 40), ('name', 'Metal')]
[('hero_id', 41), ('name', 'Pontihill')]
[('hero_id', 42), ('name', 'Cinder')]
[('hero_id', 43), ('name', 'Hudigo')]
[('hero_id', 44), ('name', 'James')]
[('hero_id', 45), ('name', 'Turir')]
[('hero_id', 46), ('name', 'Silverra')]
[('hero_id', 47), ('name', 'Raindon')]
[('hero_id', 48), ('name', 'Tyrant')]
[('hero_id', 49), ('name', 'Zoq')]
[('hero_id', 50), ('name', 'Lolliray')]
[('hero_id', 51), ('name', 'Leexie')]
[('hero_id', 52), ('name', 'Thunder')]
[('hero_id', 53), ('name', 'Star')]
[('hero_id', 54), ('name', 'Kenbow')]
[('hero_id', 55), ('name', 'Harribas')]
[('hero_id', 56), ('name', 'Cookerry')]
[('hero_id', 57), ('name', 'Meta')]
[('hero_id', 58), ('name', 'Femien')]
[('hero_id', 59), ('name', 'Wright')]
[('hero_id', 60), ('name', 'Skylly')]
[('hero_id', 61), ('name', 'Dayshimmer')]
[('hero_id', 62), ('name', 'Grindywatson')]
[('hero_id', 63), ('name', 'Shockclaw')]
[('hero_id', 64), ('name', 'Fanglson')]
[('hero_id', 65), ('name', 'Kellyclop')]
[('hero_id', 66), ('name', 'Raine')]
[('hero_id', 67), ('name', 'Kiki')]
[('hero_id', 68), ('name', 'Shadowend')]
[('hero_id', 69), ('name', 'Crystal')]
[('hero_id', 70), ('name', 'Pador')]
[('hero_id', 71), ('name', 'Cookie')]
[('hero_id', 72), ('name', 'Slicer')]
[('hero_id', 73), ('name', 'Viserwart')]
[('hero_id', 74), ('name', 'Dyden')]
[('hero_id', 75), ('name', 'Netor')]
[('hero_id', 76), ('name', 'Betrayry')]
[('hero_id', 77), ('name', 'Thistle')]
[('hero_id', 78), ('name', 'Zunabar')]
[('hero_id', 79), ('name', 'Gombo')]
[('hero_id', 80), ('name', 'Deaddaniels')]
[('hero_id', 81), ('name', 'HellvisWebbrek')]
[('hero_id', 82), ('name', 'Henrycruncher')]
[('hero_id', 83), ('name', 'Ufor')]
[('hero_id', 84), ('name', 'Marell')]
[('hero_id', 85), ('name', 'Gnodez')]
[('hero_id', 86), ('name', 'Skyhall')]
[('hero_id', 87), ('name', 'Frostbite')]
[('hero_id', 88), ('name', 'Whiten')]
[('hero_id', 89), ('name', 'Dracrcia')]
[('hero_id', 90), ('name', 'Karla')]
[('hero_id', 91), ('name', 'Nighish')]
[('hero_id', 92), ('name', 'Sabon')]
[('hero_id', 93), ('name', 'Snaglak')]
[('hero_id', 94), ('name', 'Hoodah')]
[('hero_id', 95), ('name', 'Zulkis')]
[('hero_id', 96), ('name', 'Nek')]
[('hero_id', 97), ('name', 'Mooreverse')]
[('hero_id', 98), ('name', 'Rogo')]
[('hero_id', 99), ('name', 'Azcox')]
[('hero_id', 100), ('name', 'Grindyllen')]
[('hero_id', 101), ('name', 'Spirit')]
[('hero_id', 102), ('name', 'Orpop')]
[('hero_id', 103), ('name', 'Lath')]
[('hero_id', 104), ('name', 'Abby')]
[('hero_id', 105), ('name', 'Acktosh')]
[('hero_id', 106), ('name', 'Stewartkor')]
[('hero_id', 107), ('name', 'Shhes')]
[('hero_id', 108), ('name', 'Webbrek')]
[('hero_id', 109), ('name', 'Chuz')]
[('hero_id', 110), ('name', 'Torrela')]
[('hero_id', 111), ('name', 'Total')]
[('hero_id', 112), ('name', 'Iron')]
[('hero_id', 113), ('name', 'Mystic')]
[('hero_id', 114), ('name', 'Gott')]
[('hero_id', 115), ('name', 'Scarlet')]
[('hero_id', 116), ('name', 'Brooksheart')]
[('hero_id', 117), ('name', 'Hernandecheek')]
[('hero_id', 118), ('name', 'Gnompson')]
[('hero_id', 119), ('name', 'Hawkinswimmer')]
[('hero_id', 120), ('name', 'Fisherwolf')]
[('hero_id', 121), ('name', 'Mashark')]
[('hero_id', 122), ('name', 'Onorray')]

In [74]:
# column alias
query = select([heroes_table.columns.hero_id.label('key'), heroes_table.columns.name])
results = connection.execute(query)
for row in results:
    print(row.items())

[('key', 1), ('name', 'Crareek')]
[('key', 2), ('name', 'Tan')]
[('key', 3), ('name', 'Huzzt')]
[('key', 4), ('name', 'Pamble')]
[('key', 5), ('name', 'Grimm')]
[('key', 6), ('name', 'Jarboyd')]
[('key', 7), ('name', 'Cyne')]
[('key', 8), ('name', 'Wendner')]
[('key', 9), ('name', 'Morbid')]
[('key', 10), ('name', 'Grrdy')]
[('key', 11), ('name', 'Nirty')]
[('key', 12), ('name', 'Hillstomp')]
[('key', 13), ('name', 'Frost')]
[('key', 14), ('name', 'Massive')]
[('key', 15), ('name', 'Greez')]
[('key', 16), ('name', 'Mulberry')]
[('key', 17), ('name', 'Drogfisher')]
[('key', 18), ('name', 'Mako')]
[('key', 19), ('name', 'Jade')]
[('key', 20), ('name', 'Ansmoke')]
[('key', 21), ('name', 'Tarys')]
[('key', 22), ('name', 'Mitanic')]
[('key', 23), ('name', 'Oracle')]
[('key', 24), ('name', 'Swift')]
[('key', 25), ('name', 'Dull')]
[('key', 26), ('name', 'Gomezoo')]
[('key', 27), ('name', 'Bonelegs')]
[('key', 28), ('name', 'Perabiel')]
[('key', 29), ('name', 'Marzuzu')]
[('key', 30), ('name', 'Dratic')]
[('key', 31), ('name', 'Harms')]
[('key', 32), ('name', 'Pierceslight')]
[('key', 33), ('name', 'Tustink')]
[('key', 34), ('name', 'Uriel')]
[('key', 35), ('name', 'Moptop')]
[('key', 36), ('name', 'Dexir')]
[('key', 37), ('name', 'Stinkharper')]
[('key', 38), ('name', 'Crane')]
[('key', 39), ('name', 'Silver')]
[('key', 40), ('name', 'Metal')]
[('key', 41), ('name', 'Pontihill')]
[('key', 42), ('name', 'Cinder')]
[('key', 43), ('name', 'Hudigo')]
[('key', 44), ('name', 'James')]
[('key', 45), ('name', 'Turir')]
[('key', 46), ('name', 'Silverra')]
[('key', 47), ('name', 'Raindon')]
[('key', 48), ('name', 'Tyrant')]
[('key', 49), ('name', 'Zoq')]
[('key', 50), ('name', 'Lolliray')]
[('key', 51), ('name', 'Leexie')]
[('key', 52), ('name', 'Thunder')]
[('key', 53), ('name', 'Star')]
[('key', 54), ('name', 'Kenbow')]
[('key', 55), ('name', 'Harribas')]
[('key', 56), ('name', 'Cookerry')]
[('key', 57), ('name', 'Meta')]
[('key', 58), ('name', 'Femien')]
[('key', 59), ('name', 'Wright')]
[('key', 60), ('name', 'Skylly')]
[('key', 61), ('name', 'Dayshimmer')]
[('key', 62), ('name', 'Grindywatson')]
[('key', 63), ('name', 'Shockclaw')]
[('key', 64), ('name', 'Fanglson')]
[('key', 65), ('name', 'Kellyclop')]
[('key', 66), ('name', 'Raine')]
[('key', 67), ('name', 'Kiki')]
[('key', 68), ('name', 'Shadowend')]
[('key', 69), ('name', 'Crystal')]
[('key', 70), ('name', 'Pador')]
[('key', 71), ('name', 'Cookie')]
[('key', 72), ('name', 'Slicer')]
[('key', 73), ('name', 'Viserwart')]
[('key', 74), ('name', 'Dyden')]
[('key', 75), ('name', 'Netor')]
[('key', 76), ('name', 'Betrayry')]
[('key', 77), ('name', 'Thistle')]
[('key', 78), ('name', 'Zunabar')]
[('key', 79), ('name', 'Gombo')]
[('key', 80), ('name', 'Deaddaniels')]
[('key', 81), ('name', 'HellvisWebbrek')]
[('key', 82), ('name', 'Henrycruncher')]
[('key', 83), ('name', 'Ufor')]
[('key', 84), ('name', 'Marell')]
[('key', 85), ('name', 'Gnodez')]
[('key', 86), ('name', 'Skyhall')]
[('key', 87), ('name', 'Frostbite')]
[('key', 88), ('name', 'Whiten')]
[('key', 89), ('name', 'Dracrcia')]
[('key', 90), ('name', 'Karla')]
[('key', 91), ('name', 'Nighish')]
[('key', 92), ('name', 'Sabon')]
[('key', 93), ('name', 'Snaglak')]
[('key', 94), ('name', 'Hoodah')]
[('key', 95), ('name', 'Zulkis')]
[('key', 96), ('name', 'Nek')]
[('key', 97), ('name', 'Mooreverse')]
[('key', 98), ('name', 'Rogo')]
[('key', 99), ('name', 'Azcox')]
[('key', 100), ('name', 'Grindyllen')]
[('key', 101), ('name', 'Spirit')]
[('key', 102), ('name', 'Orpop')]
[('key', 103), ('name', 'Lath')]
[('key', 104), ('name', 'Abby')]
[('key', 105), ('name', 'Acktosh')]
[('key', 106), ('name', 'Stewartkor')]
[('key', 107), ('name', 'Shhes')]
[('key', 108), ('name', 'Webbrek')]
[('key', 109), ('name', 'Chuz')]
[('key', 110), ('name', 'Torrela')]
[('key', 111), ('name', 'Total')]
[('key', 112), ('name', 'Iron')]
[('key', 113), ('name', 'Mystic')]
[('key', 114), ('name', 'Gott')]
[('key', 115), ('name', 'Scarlet')]
[('key', 116), ('name', 'Brooksheart')]
[('key', 117), ('name', 'Hernandecheek')]
[('key', 118), ('name', 'Gnompson')]
[('key', 119), ('name', 'Hawkinswimmer')]
[('key', 120), ('name', 'Fisherwolf')]
[('key', 121), ('name', 'Mashark')]
[('key', 122), ('name', 'Onorray')]

#### Aggregate Functions

In [75]:
battle_events_table = Table('battle_events', metadata,
                           Column('battle_event_id', Integer, nullable=False, primary_key=True),
                           Column('battle_participant_id', Integer, nullable=False),
                           Column('rubies_gained', Integer, nullable=False),
                           Column('timestamp', Integer, nullable=False)
                           )

In [80]:
query = select([func.sum(battle_events_table.columns.rubies_gained)]) # sum
results = connection.execute(query)
results.scalar()

72847

In [81]:
query = select([func.max(battle_events_table.columns.rubies_gained)]) # max
results = connection.execute(query)
results.scalar()

15

In [82]:
query = select([func.min(battle_events_table.columns.rubies_gained)]) # min
results = connection.execute(query)
results.scalar()

1

In [84]:
# group by
query = select([
    battle_events_table.columns.battle_participant_id,\
    func.count(battle_events_table.columns.battle_event_id).label('total_events')
])\
.group_by(battle_events_table.columns.battle_participant_id)\
.order_by(Column('total_events').desc())
results = connection.execute(query)
results.fetchall()

[(4, 2054),
 (3, 2036),
 (1, 2006),
 (2, 1946),
 (5, 1820),
 (24, 1780),
 (25, 1736),
 (22, 1719),
 (21, 1681),
 (23, 1528)]

#### Joining Tables